.positions-container {
  block-size: 100%;
  inline-size: 75%;
  /* width: 10%;
    height: 10%; */
  border: 1px solid var(--divider);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.open-positions {
  --padding-inline: 0%;
  --padding-block: 2%;
  inline-size: calc(100% - calc(2 * var(--padding-inline)));
  block-size: calc(100% - calc(2 * var(--padding-block)));
  padding-inline: var(--padding-inline);
  padding-block: var(--padding-block);
}
