.watchlist {
  block-size: 100%;
  inline-size: 25%;
  /* width: 10%;
  height: 10%; */
  border: 1px solid var(--divider);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.watchlist-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  padding: 0.5em;
  overflow-y: auto;
}

/* width */
::-webkit-scrollbar {
  width: 0.65em;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--detail);
}
