#root {
  margin: 0 auto;
  /* text-align: center; */
}
.bali-bot-app {
  background-color: var(--background);
  padding: 1em;
  width: calc(100vw - 2em);
  height: calc(100vh - 2em);
  color: var(--normal);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2%;
}

.top-container {
  block-size: 50%;
  inline-size: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1%;
}
.bottom-container {
  block-size: 50%;
  inline-size: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1%;
}
